Repository danilomartinelli/usecapsule-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, build, typecheck

lint:
  stage: lint
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=lint --base=origin/main --head=HEAD

test:
  stage: test
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=test --base=origin/main --head=HEAD

build:
  stage: build
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=build --base=origin/main --head=HEAD

typecheck:
  stage: build
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=typecheck --base=origin/main --head=HEAD

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: lint, test, build

feat(nx-cloud): set up nx workspace (#46)
  nx.json
Due: lint, test, build

feat: update nx configuration and dependencies; add CI workflow with caching and Nx Cloud integration
  .github/workflows/ci.yml
  nx.json
  package-lock.json
  package.json
Due: lint, test, build

fix: update Flyway migration locations from './migrations' to './sql' for consistency across services
  apps/auth-service/database/flyway.conf
  apps/billing-service/database/flyway.conf
  apps/deploy-service/database/flyway.conf
  apps/monitor-service/database/flyway.conf
Due: none

feat: add core authentication boilerplate task and update dependencies in TASKS.md
  .taskmaster/docs/research/.gitkeep
  .taskmaster/tasks/tasks.json
  TASKS.md
Due: lint, test, build

feat: update authentication task details and status; mark tasks as done
  .taskmaster/tasks/tasks.json
Due: lint, test, build

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#48)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

refactor(auth): remove in-progress task file for core authentication implementation
  .taskmaster/tasks/task_016_feature-auth-core-implementation.txt
Due: none

docs: update code block formatting in integration and command guides; add service development guide
  .claude/agents/ddd-architect.md
  CLAUDE.md
  docs/guides/service-development.md
  docs/guides/task-master-Integration.md
  docs/guides/task-master-commands.md
  docs/infrastructure/database-setup.md
Due: none

feat(auth): Implement core authentication boilerplate with user registration, login, password reset, and RBAC
  .taskmaster/state.json
  .taskmaster/tasks/task_016_feature-auth-core-implementation.txt
  .taskmaster/tasks/tasks.json
Due: lint, test, build

fix: resolve TypeScript decorator type errors in shared-redis package
  libs/shared/redis/src/lib/decorators/cache.decorator.ts
  libs/shared/redis/src/lib/decorators/rate-limit.decorator.ts
Due: lint, test, build, typecheck

feat(auth): implement authentication and authorization modules
  apps/auth-service/src/app/app.module.ts
  apps/auth-service/src/modules/auth/auth.module.ts
  apps/auth-service/src/modules/auth/dto/jwt-payload.interface.ts
  apps/auth-service/src/modules/auth/dto/token.dto.ts
  apps/auth-service/src/modules/auth/services/jwt.service.ts
  apps/auth-service/src/modules/auth/services/password.service.ts
  apps/auth-service/src/modules/auth/services/token-blacklist.service.ts
  apps/auth-service/src/modules/roles/domain/role.entity.ts
  apps/auth-service/src/modules/roles/guards/permissions.decorator.ts
  apps/auth-service/src/modules/roles/guards/roles.guard.ts
  apps/auth-service/src/modules/roles/roles.module.ts
  apps/auth-service/src/modules/roles/services/role.service.ts
  apps/auth-service/tsconfig.app.json
  apps/auth-service/tsconfig.json
Due: lint, test, build, typecheck

feat(auth): update state and tasks for core authentication implementation; change ORM to Slonik
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  docs/architecture/system-overview.md
Due: lint, test, build

refactor: standardize event and command strings in CLAUDE.md
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  CLAUDE.md
  apps/api-gateway/src/app/app.service.ts
  docs/guides/service-development.md
  libs/shared/redis/src/lib/decorators/cache.decorator.ts
  libs/shared/redis/src/lib/decorators/rate-limit.decorator.ts
  libs/shared/utils/src/lib/database.utils.ts
  nx.json
Due: lint, test, build, typecheck

refactor: remove testing guidelines and TASKS.md for improved clarity and focus
  CLAUDE.md
  TASKS.md
Due: none

feat(auth): add API key management and authentication audit logging
  .github/workflows/ci.yml
  apps/auth-service/database/migrations/V1.1.0__Create_users_table.sql
  apps/auth-service/database/migrations/V1.2.0__Create_user_roles_table.sql
  apps/auth-service/database/migrations/V1.3.0__Create_auth_sessions_table.sql
  apps/auth-service/database/migrations/V1.4.0__Create_email_verification_tokens_table.sql
  apps/auth-service/database/migrations/V1.5.0__Create_password_reset_tokens_table.sql
  apps/auth-service/database/migrations/V1.6.0__Create_two_factor_auth_table.sql
  apps/auth-service/database/migrations/V1.7.0__Create_oauth_providers_table.sql
  apps/auth-service/database/migrations/V1.8.0__Create_api_keys_table.sql
  apps/auth-service/database/migrations/V1.9.0__Create_auth_audit_logs_table.sql
  apps/auth-service/src/modules/user-management/domain/entities/user.entity.ts
  apps/auth-service/tsconfig.app.json
  apps/auth-service/tsconfig.json
  libs/configs/database/project.json
  libs/configs/database/tsconfig.lib.json
  libs/configs/observability/project.json
  libs/configs/observability/tsconfig.lib.json
  libs/configs/parameters/tsconfig.lib.json
  libs/configs/redis/project.json
  libs/configs/redis/tsconfig.lib.json
  libs/shared/ddd/project.json
  libs/shared/ddd/src/index.ts
  libs/shared/ddd/src/lib/entities/base.entity.ts
  libs/shared/ddd/src/lib/entities/index.ts
  libs/shared/ddd/src/lib/entities/soft-deletable.entity.ts
  libs/shared/ddd/tsconfig.lib.json
  libs/shared/decorators/project.json
  libs/shared/decorators/tsconfig.lib.json
  libs/shared/exceptions/project.json
  libs/shared/exceptions/tsconfig.lib.json
  libs/shared/messaging/tsconfig.lib.json
  libs/shared/redis/project.json
  libs/shared/redis/tsconfig.lib.json
  libs/shared/types/tsconfig.lib.json
  libs/shared/utils/project.json
  libs/shared/utils/tsconfig.lib.json
Due: lint, test, build, typecheck

feat(auth): implement user registration command with email verification
  .taskmaster/tasks/tasks.json
  apps/auth-service/src/app/app.controller.ts
  apps/auth-service/src/app/app.module.ts
  apps/auth-service/src/modules/user-management/commands/register-user.command.ts
  apps/auth-service/src/modules/user-management/database/user.repository.interface.ts
  apps/auth-service/src/modules/user-management/database/user.repository.ts
  apps/auth-service/src/modules/user-management/domain/entities/user.entity.ts
  apps/auth-service/src/modules/user-management/dto/register-user.dto.ts
  apps/auth-service/src/modules/user-management/user-management.module.ts
Due: lint, test, build, typecheck

chore(ci): remove Nx Cloud distribution settings and update CI commands
  .github/workflows/ci.yml
  nx.json
Due: lint, test, build

feat(auth-service): integrate Redis for rate limiting and caching, add global exception handling
  .github/workflows/claude-code-review.yml
  CLAUDE.md
  apps/auth-service/src/app/app.controller.ts
  apps/auth-service/src/app/app.module.ts
  apps/auth-service/src/modules/user-management/commands/register-user.command.ts
  apps/auth-service/src/modules/user-management/dto/register-user.schema.ts
  apps/auth-service/tsconfig.app.json
  apps/auth-service/tsconfig.json
  libs/configs/database/src/lib/schemas/auth.schemas.ts
  libs/configs/database/src/lib/schemas/billing.schemas.ts
  libs/configs/parameters/src/lib/factory/auth-service.factory.ts
  libs/configs/parameters/src/lib/schemas/auth-service.schema.ts
  libs/configs/redis/project.json
  libs/shared/exceptions/package.json
  libs/shared/exceptions/project.json
  libs/shared/exceptions/src/index.ts
  libs/shared/exceptions/src/lib/exceptions.module.ts
  libs/shared/exceptions/src/lib/exceptions/auth.exceptions.ts
  libs/shared/exceptions/src/lib/filters/global-exception.filter.ts
  libs/shared/exceptions/src/lib/pipes/zod-validation.pipe.ts
  libs/shared/redis/project.json
  libs/shared/redis/src/lib/decorators/cache.decorator.ts
  libs/shared/redis/src/lib/decorators/rate-limit.decorator.ts
Due: lint, test, build, typecheck

chore(docs): update Product Requirements Document to version 1.0.0 with new architecture and roadmap details
  docs/PRD.md
Due: none

Path conditions:
  lint: any of: **/*.{ts,tsx,js,jsx,json}
  test: any of: **/*.{ts,tsx,js,jsx,json}, **/*.spec.{ts,tsx,js,jsx}, **/*.test.{ts,tsx,js,jsx}
  build: any of: **/*.{ts,tsx,js,jsx,json}, **/*.config.{ts,js,json}
  typecheck: any of: **/*.{ts,tsx}, **/*.config.{ts,js,json}
