Repository danilomartinelli/usecapsule-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, build, typecheck

lint:
  stage: lint
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=lint --base=origin/main --head=HEAD

test:
  stage: test
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=test --base=origin/main --head=HEAD

build:
  stage: build
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=build --base=origin/main --head=HEAD

typecheck:
  stage: build
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=typecheck --base=origin/main --head=HEAD

Remoção de scripts de desenvolvimento obsoletos do package.json, simplificando a configuração do projeto.
  package.json
Due: lint, test, build

feat: Add comprehensive API reference documentation and initial endpoints
  CLAUDE.md
  README.md
  docs/PRD.md
  docs/api-reference.md
  docs/architecture.md
  docs/core-features.md
  docs/development-workflow.md
  docs/getting-started.md
  docs/technology-stack.md
Due: none

Remove unused Test component from the UI library and update index export accordingly
  .gitignore
  .taskmaster/docs/prd.txt
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
  CLAUDE.md
  README.md
  docs/PRD.md
  libs/ui/react/src/index.ts
  libs/ui/react/src/test.tsx
Due: lint, test, build, typecheck

Refactor .gitignore: reorganize AI-related entries and update task files section
  .gitignore
Due: none

Implement code changes to enhance functionality and improve performance
  .taskmaster/tasks/tasks.json
  docs/requirements.md
Due: lint, test, build

chore: remove CLAUDE.md file and associated documentation
  CLAUDE.md
Due: none

Refactor code structure for improved readability and maintainability
  docs/api-reference.md
  docs/architecture.md
  docs/core-features.md
  docs/development-workflow.md
  docs/getting-started.md
  docs/technology-stack.md
  requirements.md
Due: none

chore: update README.md to reflect current project status and simplify content
  README.md
Due: none

feat: add comprehensive task list and project roadmap for Capsule Platform
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
  .github/pull_request_template.md
  PROJECT_BOARD_SETUP.md
  docs/TASK_BREAKDOWN.md
  tasks.md
Due: none

chore: update repository references to usecapsule-api
  PROJECT_BOARD_SETUP.md
  README.md
Due: none

chore: remove outdated Project Board Setup documentation
  PROJECT_BOARD_SETUP.md
Due: none

refactor: update CI configuration, remove test stage, and rename docker-compose to compose.yml
  .gitlab-ci.yml
  compose.yml
  docs/KNOWLEDGE.md
  nx.json
Due: lint, test, build

feat: add dependency update script and update tsconfig references
  .github/workflows/dependency-audit.yml
  apps/api-gateway/project.json
  nx.json
  package-lock.json
  scripts/dependency-update.sh
  tsconfig.json
Due: lint, test, build

chore: update dependencies in package.json and package-lock.json; remove outdated dependency update script
  package-lock.json
  package.json
  scripts/dependency-update.sh
Due: lint, test, build

chore: remove references to test configuration files from tsconfig and nx configuration
  apps/api-gateway/tsconfig.app.json
  apps/api-gateway/tsconfig.json
  libs/shared/dto/tsconfig.json
  libs/shared/types/tsconfig.json
  nx.json
Due: lint, test, build

feat: implement scalable database migrations system with Slonik and Flyway
  apps/auth-service/.babelrc
  apps/auth-service/.gitkeep
  apps/auth-service/.prettierrc
  apps/auth-service/README.md
  apps/auth-service/eslint.config.mjs
  apps/auth-service/nest-cli.json
  apps/auth-service/package.json
  apps/auth-service/project.json
  apps/auth-service/src/app.controller.ts
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/app.service.ts
  apps/auth-service/src/main.ts
  apps/auth-service/test/jest-e2e.json
  apps/auth-service/tsconfig.app.json
  apps/auth-service/tsconfig.build.json
  apps/auth-service/tsconfig.json
  apps/auth-service/webpack.config.js
  compose.yml
  infrastructure/docker/flyway.dockerfile
  infrastructure/flyway/auth-service.conf
  infrastructure/migrations/auth-service/V001__create_users_table.sql
  libs/shared/database/package.json
  libs/shared/database/project.json
  libs/shared/database/src/database.config.ts
  libs/shared/database/src/database.module.ts
  libs/shared/database/src/database.service.ts
  libs/shared/database/src/index.ts
  libs/shared/database/tsconfig.lib.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: lint, test, build, typecheck

feat: add comprehensive documentation for system architecture, database setup, and development workflow
  README.md
  docs/PRD.md
  docs/README.md
  docs/TASK_BREAKDOWN.md
  docs/api/.gitkeep
  docs/architecture/overview.md
  docs/database/overview.md
  docs/deployment/.gitkeep
  docs/development/setup.md
  tasks.md
Due: none

chore: clean up README formatting and improve readability
  docs/README.md
Due: none

chore: update .gitignore to remove AI-related files and add settings.json for Claude
  .claude/settings.json
  .gitignore
  CLAUDE.md
Due: lint, test, build

chore: improve formatting and readability across documentation files
  CLAUDE.md
  README.md
  apps/api-gateway/README.md
  docs/KNOWLEDGE.md
  docs/PRD.md
  docs/README.md
  docs/database/overview.md
  libs/shared/dto/README.md
  libs/shared/types/README.md
  tasks.md
Due: none

chore: remove all testing infrastructure and fix markdown linting
  CLAUDE.md
  README.md
  apps/auth-service/README.md
  apps/auth-service/package.json
  apps/auth-service/test/jest-e2e.json
  apps/auth-service/tsconfig.build.json
  docs/README.md
  libs/shared/database/tsconfig.lib.json
  libs/shared/dto/tsconfig.lib.json
  libs/shared/types/tsconfig.lib.json
  package-lock.json
  package.json
Due: lint, test, build

docs: update tasks.md to reflect completed infrastructure work
  tasks.md
Due: none

Update README and documentation for developer tools and SDKs; fix RabbitMQ port configurations
  CLAUDE.md
  README.md
  apps/auth-service/src/main.ts
  compose.yml
  docs/development/setup.md
  tasks.md
  tools/cli/.gitkeep
  tools/sdk/.gitkeep
  tools/sdk/go/.gitkeep
  tools/sdk/node/.gitkeep
  tools/sdk/php/.gitkeep
  tools/sdk/python/.gitkeep
  tools/sdk/ruby/.gitkeep
  tools/sdk/rust/.gitkeep
Due: lint, test, build, typecheck

Refactor code structure for improved readability and maintainability
  nx.json
  package-lock.json
  package.json
Due: lint, test, build

chore: update package.json to include @nx/workspace as a devDependency
  .github/workflows/ci.yml
  PRD.md
  nx.json
  package-lock.json
  package.json
Due: lint, test, build

fix: correct code block syntax in PRD.md for better readability
  PRD.md
Due: none

feat: add ddd-architect agent for architectural guidance and update package dependencies
  .claude/agents/ddd-architect.md
  .claude/settings.json
  .gitignore
  .mcp.json
  CLAUDE.md
  package-lock.json
  package.json
Due: lint, test, build

feat(api-gateway): initialize NestJS application with basic structure and configurations
  apps/api-gateway/.prettierrc
  apps/api-gateway/README.md
  apps/api-gateway/eslint.config.mjs
  apps/api-gateway/nest-cli.json
  apps/api-gateway/package.json
  apps/api-gateway/src/app.controller.ts
  apps/api-gateway/src/app.module.ts
  apps/api-gateway/src/app.service.ts
  apps/api-gateway/src/main.ts
  apps/api-gateway/test/jest-e2e.json
  apps/api-gateway/tsconfig.build.json
  apps/api-gateway/tsconfig.json
  package-lock.json
Due: lint, test, build, typecheck

feat(api-gateway): initialize NestJS application with basic structure and configurations
  apps/api-gateway/package.json
Due: lint, test, build

feat(auth-service): initialize auth service with basic structure, configurations, and dependencies
  apps/auth-service/.prettierrc
  apps/auth-service/README.md
  apps/auth-service/eslint.config.mjs
  apps/auth-service/nest-cli.json
  apps/auth-service/package.json
  apps/auth-service/src/app.controller.ts
  apps/auth-service/src/app.module.ts
  apps/auth-service/src/app.service.ts
  apps/auth-service/src/main.ts
  apps/auth-service/test/jest-e2e.json
  apps/auth-service/tsconfig.build.json
  apps/auth-service/tsconfig.json
  nx.json
  package-lock.json
Due: lint, test, build, typecheck

fix: update test script in package.json to allow passing with no tests
  apps/api-gateway/package.json
  apps/auth-service/package.json
Due: lint, test, build

fix: update .gitignore to correctly ignore Nx cache and workspace data
  .gitignore
Due: none

fix: add return type to bootstrap function and ensure proper invocation
  apps/api-gateway/src/main.ts
  apps/auth-service/src/main.ts
Due: lint, test, build, typecheck

feat(billing-service): initialize billing service with NestJS framework
  apps/billing-service/.prettierrc
  apps/billing-service/README.md
  apps/billing-service/eslint.config.mjs
  apps/billing-service/nest-cli.json
  apps/billing-service/package.json
  apps/billing-service/src/app.controller.ts
  apps/billing-service/src/app.module.ts
  apps/billing-service/src/app.service.ts
  apps/billing-service/src/main.ts
  apps/billing-service/test/jest-e2e.json
  apps/billing-service/tsconfig.build.json
  apps/billing-service/tsconfig.json
  apps/deploy-service/.prettierrc
  apps/deploy-service/README.md
  apps/deploy-service/eslint.config.mjs
  apps/deploy-service/nest-cli.json
  apps/deploy-service/package.json
  apps/deploy-service/src/app.controller.ts
  apps/deploy-service/src/app.module.ts
  apps/deploy-service/src/app.service.ts
  apps/deploy-service/src/main.ts
  apps/deploy-service/test/jest-e2e.json
  apps/deploy-service/tsconfig.build.json
  apps/deploy-service/tsconfig.json
  apps/monitor-service/.prettierrc
  apps/monitor-service/README.md
  apps/monitor-service/eslint.config.mjs
  apps/monitor-service/nest-cli.json
  apps/monitor-service/package.json
  apps/monitor-service/src/app.controller.ts
  apps/monitor-service/src/app.module.ts
  apps/monitor-service/src/app.service.ts
  apps/monitor-service/src/main.ts
  apps/monitor-service/test/jest-e2e.json
  apps/monitor-service/tsconfig.build.json
  apps/monitor-service/tsconfig.json
  package-lock.json
Due: lint, test, build, typecheck

Path conditions:
  lint: any of: **/*.{ts,tsx,js,jsx,json}
  test: any of: **/*.{ts,tsx,js,jsx,json}, **/*.spec.{ts,tsx,js,jsx}, **/*.test.{ts,tsx,js,jsx}
  build: any of: **/*.{ts,tsx,js,jsx,json}, **/*.config.{ts,js,json}
  typecheck: any of: **/*.{ts,tsx}, **/*.config.{ts,js,json}
