Repository danilomartinelli/usecapsule-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, build, typecheck

lint:
  stage: lint
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=lint --base=origin/main --head=HEAD

test:
  stage: test
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=test --base=origin/main --head=HEAD

build:
  stage: build
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=build --base=origin/main --head=HEAD

typecheck:
  stage: build
  interruptible: true
  dependencies:
  - setup
  script:
  - npx nx affected --target=typecheck --base=origin/main --head=HEAD

fix: set model to 'opusplan' in settings.json
  .claude/settings.json
Due: lint, test, build

chore: add VSCode settings for NX Console AI agent rules generation
  .vscode/settings.json
  CLAUDE.md
Due: lint, test, build

Refactor code structure for improved readability and maintainability
  apps/api-gateway/package.json
  apps/auth-service/package.json
  apps/billing-service/package.json
  apps/deploy-service/package.json
  apps/monitor-service/package.json
  package-lock.json
Due: lint, test, build

feat: restructure shared libraries and add new modules
  libs/shared/ddd/README.md
  libs/shared/ddd/eslint.config.mjs
  libs/shared/ddd/package.json
  libs/shared/ddd/project.json
  libs/shared/ddd/src/index.ts
  libs/shared/ddd/src/lib/ddd.module.ts
  libs/shared/ddd/tsconfig.json
  libs/shared/ddd/tsconfig.lib.json
  libs/shared/exceptions/README.md
  libs/shared/exceptions/eslint.config.mjs
  libs/shared/exceptions/package.json
  libs/shared/exceptions/project.json
  libs/shared/exceptions/src/index.ts
  libs/shared/exceptions/src/lib/exceptions.module.ts
  libs/shared/exceptions/tsconfig.json
  libs/shared/exceptions/tsconfig.lib.json
  libs/shared/messaging/README.md
  libs/shared/messaging/eslint.config.mjs
  libs/shared/messaging/package.json
  libs/shared/messaging/project.json
  libs/shared/messaging/src/index.ts
  libs/shared/messaging/src/lib/messaging.module.ts
  libs/shared/messaging/tsconfig.json
  libs/shared/messaging/tsconfig.lib.json
  package-lock.json
  package.json
  tsconfig.json
Due: lint, test, build, typecheck

feat: add shared decorators library with initial configuration and module setup
  libs/shared/decorators/README.md
  libs/shared/decorators/eslint.config.mjs
  libs/shared/decorators/package.json
  libs/shared/decorators/project.json
  libs/shared/decorators/src/index.ts
  libs/shared/decorators/src/lib/decorators.module.ts
  libs/shared/decorators/tsconfig.json
  libs/shared/decorators/tsconfig.lib.json
  package-lock.json
  tsconfig.json
Due: lint, test, build, typecheck

feat: add shared types and utils libraries with initial configuration and setup
  libs/shared/types/eslint.config.mjs
  libs/shared/types/package.json
  libs/shared/types/project.json
  libs/shared/types/src/index.ts
  libs/shared/types/src/lib/types.ts
  libs/shared/types/tsconfig.json
  libs/shared/types/tsconfig.lib.json
  libs/shared/utils/eslint.config.mjs
  libs/shared/utils/package.json
  libs/shared/utils/project.json
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/lib/utils.ts
  libs/shared/utils/tsconfig.json
  libs/shared/utils/tsconfig.lib.json
  package-lock.json
  tsconfig.json
Due: lint, test, build, typecheck

feat: add database, observability, and rabbitmq libraries with initial configuration and setup
  libs/configs/database/README.md
  libs/configs/database/eslint.config.mjs
  libs/configs/database/package.json
  libs/configs/database/project.json
  libs/configs/database/src/index.ts
  libs/configs/database/src/lib/database.module.ts
  libs/configs/database/tsconfig.json
  libs/configs/database/tsconfig.lib.json
  libs/configs/observability/README.md
  libs/configs/observability/eslint.config.mjs
  libs/configs/observability/package.json
  libs/configs/observability/project.json
  libs/configs/observability/src/index.ts
  libs/configs/observability/src/lib/observability.module.ts
  libs/configs/observability/tsconfig.json
  libs/configs/observability/tsconfig.lib.json
  libs/configs/rabbitmq/README.md
  libs/configs/rabbitmq/eslint.config.mjs
  libs/configs/rabbitmq/package.json
  libs/configs/rabbitmq/project.json
  libs/configs/rabbitmq/src/index.ts
  libs/configs/rabbitmq/src/lib/rabbitmq.module.ts
  libs/configs/rabbitmq/tsconfig.json
  libs/configs/rabbitmq/tsconfig.lib.json
  package-lock.json
  package.json
  tsconfig.json
Due: lint, test, build, typecheck

chore: update dependencies and add migration configuration files
  apps/api-gateway/package.json
  apps/auth-service/migrations/flyway.conf
  apps/auth-service/package.json
  apps/billing-service/migrations/flyway.conf
  apps/deploy-service/migrations/flyway.conf
  apps/deploy-service/package.json
  apps/monitor-service/migrations/flyway.conf
  apps/monitor-service/package.json
  devtools/docker/.gitkeep
  devtools/k8s/base/.gitkeep
  devtools/k8s/overlays/development/.gitkeep
  devtools/k8s/overlays/production/.gitkeep
  devtools/k8s/overlays/staging/.gitkeep
  devtools/migrations/.gitkeep
  devtools/scripts/.gitkeep
  libs/configs/database/package.json
  libs/configs/observability/package.json
  libs/configs/rabbitmq/package.json
  libs/shared/ddd/package.json
  libs/shared/messaging/package.json
  libs/shared/utils/package.json
  package-lock.json
  package.json
  tools/cli/.gitkeep
  tools/sdk-js/.gitkeep
  tools/terraform/.gitkeep
Due: lint, test, build

feat: update node types and add prettier configuration
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
Due: lint, test, build

feat: update .gitignore, add Flyway configuration, enhance ESLint rules, add npm scripts, and create Docker Compose setup for services
  .gitignore
  apps/auth-service/migrations/flyway.conf
  compose.yml
  eslint.config.mjs
  package.json
Due: lint, test, build

feat: implement database module with connection pooling, service, and transaction management
  .env.example
  libs/configs/database/src/index.ts
  libs/configs/database/src/lib/database-pool.factory.ts
  libs/configs/database/src/lib/database.constants.ts
  libs/configs/database/src/lib/database.module.ts
  libs/configs/database/src/lib/database.service.ts
  libs/configs/database/src/lib/database.types.ts
  libs/configs/database/src/lib/decorators/index.ts
  libs/configs/database/src/lib/decorators/transactional.decorator.ts
  libs/configs/database/src/lib/interceptors/index.ts
  libs/configs/database/src/lib/interceptors/logging.interceptor.ts
  libs/configs/database/src/lib/interfaces/database-options.interface.ts
  libs/configs/database/src/lib/interfaces/index.ts
  libs/configs/database/src/lib/repositories/base.repository.ts
  libs/configs/database/src/lib/type-parsers.ts
  libs/configs/database/tsconfig.lib.json
  libs/shared/types/src/lib/types.ts
Due: lint, test, build, typecheck

feat(database): enhance database pool creation and configuration
  .claude/settings.local.json
  libs/configs/database/src/lib/database-pool.factory.ts
  libs/configs/database/src/lib/database.module.ts
  libs/configs/database/src/lib/database.service.ts
  libs/configs/database/src/lib/interceptors/logging.interceptor.ts
  libs/configs/database/src/lib/repositories/base.repository.ts
  libs/configs/database/src/lib/type-parsers.ts
Due: lint, test, build, typecheck

feat(repository): enhance type safety and query handling in BaseRepository
  libs/configs/database/src/lib/repositories/base.repository.ts
Due: lint, test, build, typecheck

chore: update slonik to version 48.6.0 across auth, deploy, monitor services and database configs
  apps/auth-service/package.json
  apps/deploy-service/package.json
  apps/monitor-service/package.json
  libs/configs/database/src/lib/database.service.ts
  libs/configs/database/src/lib/interceptors/index.ts
  libs/configs/database/src/lib/interceptors/logging.interceptor.ts
  libs/configs/database/src/lib/interfaces/database-options.interface.ts
  libs/configs/parameters/README.md
  libs/configs/parameters/eslint.config.mjs
  libs/configs/parameters/package.json
  libs/configs/parameters/project.json
  libs/configs/parameters/src/index.ts
  libs/configs/parameters/src/lib/parameters.module.ts
  libs/configs/parameters/src/lib/schemas/api-gateway.schema.ts
  libs/configs/parameters/tsconfig.json
  libs/configs/parameters/tsconfig.lib.json
  libs/shared/types/src/lib/types.ts
  package-lock.json
  tsconfig.json
Due: lint, test, build, typecheck

feat(parameters): refactor ParametersModule and enhance apiGatewaySchema with detailed validation and documentation
  libs/configs/parameters/src/lib/parameters.module.ts
  libs/configs/parameters/src/lib/schemas/api-gateway.schema.ts
Due: lint, test, build, typecheck

feat(parameters): migrate from Joi to Zod with complete configuration system overhaul
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
  CLAUDE.md
  apps/auth-service/src/app/app.module.ts
  apps/auth-service/src/main.ts
  libs/configs/database/package.json
  libs/configs/parameters/src/index.ts
  libs/configs/parameters/src/lib/bootstrap.config.ts
  libs/configs/parameters/src/lib/env-loader.ts
  libs/configs/parameters/src/lib/factory/auth-service.factory.ts
  libs/configs/parameters/src/lib/factory/index.ts
  libs/configs/parameters/src/lib/parameters.module.ts
  libs/configs/parameters/src/lib/schemas/api-gateway.schema.ts
  libs/configs/parameters/src/lib/schemas/auth-service.schema.ts
  libs/configs/parameters/src/lib/schemas/deploy-service.schema.ts
  libs/configs/parameters/src/lib/schemas/index.ts
Due: lint, test, build, typecheck

chore: update package dependencies and TypeScript configurations
  apps/auth-service/tsconfig.app.json
  apps/auth-service/tsconfig.json
  libs/configs/database/tsconfig.json
  libs/configs/database/tsconfig.lib.json
  libs/configs/observability/package.json
  libs/configs/parameters/package.json
  libs/configs/rabbitmq/package.json
  libs/shared/ddd/package.json
  libs/shared/decorators/package.json
  libs/shared/exceptions/package.json
  libs/shared/messaging/package.json
  libs/shared/utils/package.json
  package-lock.json
  package.json
Due: lint, test, build

refactor: enhance TypeScript code quality and standards across auth-service and configs
  apps/auth-service/src/app/app.controller.ts
  apps/auth-service/src/app/app.service.ts
  libs/configs/database/src/lib/database.constants.ts
  libs/configs/database/src/lib/decorators/index.ts
  libs/configs/database/src/lib/interceptors/index.ts
  libs/configs/database/src/lib/type-parsers.ts
  libs/configs/parameters/src/lib/bootstrap.config.ts
  libs/configs/parameters/src/lib/factory/auth-service.factory.ts
  libs/configs/parameters/src/lib/factory/index.ts
Due: lint, test, build, typecheck

fix(parameters): resolve TypeScript compilation and export issues
  libs/configs/parameters/src/lib/bootstrap.config.ts
  libs/configs/parameters/src/lib/factory/auth-service.factory.ts
Due: lint, test, build, typecheck

refactor(auth-service): migrate from BootstrapConfig to proper NestJS ConfigService pattern
  apps/auth-service/src/main.ts
  libs/configs/parameters/src/lib/bootstrap.config.ts
Due: lint, test, build, typecheck

feat(parameters): add configuration factories for API Gateway and Deploy services
  libs/configs/parameters/src/index.ts
  libs/configs/parameters/src/lib/factory/api-gateway.factory.ts
  libs/configs/parameters/src/lib/factory/deploy-service.factory.ts
  libs/configs/parameters/src/lib/factory/index.ts
  libs/configs/parameters/tsconfig.tsbuildinfo
Due: lint, test, build, typecheck

feat(microservices): complete configuration system migration and add NX instructions
  .github/instructions/nx.instructions.md
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/main.ts
  apps/api-gateway/tsconfig.app.json
  apps/api-gateway/tsconfig.json
  apps/auth-service/migrations/flyway.conf
  apps/billing-service/migrations/flyway.conf
  apps/billing-service/src/app/app.module.ts
  apps/billing-service/src/main.ts
  apps/billing-service/tsconfig.app.json
  apps/billing-service/tsconfig.json
  apps/deploy-service/migrations/flyway.conf
  apps/deploy-service/src/app/app.module.ts
  apps/deploy-service/src/main.ts
  apps/deploy-service/tsconfig.app.json
  apps/deploy-service/tsconfig.json
  apps/monitor-service/migrations/flyway.conf
  apps/monitor-service/src/app/app.module.ts
  apps/monitor-service/src/main.ts
  apps/monitor-service/tsconfig.app.json
  apps/monitor-service/tsconfig.json
  compose.yml
  libs/configs/parameters/src/lib/factory/api-gateway.factory.ts
  libs/configs/parameters/src/lib/factory/billing-service.factory.ts
  libs/configs/parameters/src/lib/factory/deploy-service.factory.ts
  libs/configs/parameters/src/lib/factory/index.ts
  libs/configs/parameters/src/lib/factory/monitor-service.factory.ts
  libs/configs/parameters/src/lib/schemas/billing-service.schema.ts
  libs/configs/parameters/src/lib/schemas/deploy-service.schema.ts
  libs/configs/parameters/src/lib/schemas/index.ts
  libs/configs/parameters/src/lib/schemas/monitor-service.schema.ts
  package-lock.json
Due: lint, test, build, typecheck

refactor(database): simplify Flyway configuration across all microservices
  apps/auth-service/migrations/flyway.conf
  apps/billing-service/migrations/flyway.conf
  apps/deploy-service/migrations/flyway.conf
  apps/monitor-service/migrations/flyway.conf
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#43)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat(environment): update .env.example with detailed service configurations and add Redis and Flyway services to docker-compose
  .env.example
  compose.yml
Due: none

feat(configuration): add Redis configuration to environment and service schemas
  .env.example
  apps/api-gateway/src/main.ts
  libs/configs/parameters/src/lib/factory/api-gateway.factory.ts
  libs/configs/parameters/src/lib/factory/auth-service.factory.ts
  libs/configs/parameters/src/lib/factory/billing-service.factory.ts
  libs/configs/parameters/src/lib/factory/deploy-service.factory.ts
  libs/configs/parameters/src/lib/factory/monitor-service.factory.ts
  libs/configs/parameters/src/lib/schemas/api-gateway.schema.ts
  libs/configs/parameters/src/lib/schemas/auth-service.schema.ts
  libs/configs/parameters/src/lib/schemas/billing-service.schema.ts
  libs/configs/parameters/src/lib/schemas/deploy-service.schema.ts
  libs/configs/parameters/src/lib/schemas/monitor-service.schema.ts
Due: lint, test, build, typecheck

feat: create branch for RabbitMQ message queue setup
  .github/instructions/nx.instructions.md
  CLAUDE.md
Due: none

feat(rabbitmq): implement comprehensive RabbitMQ message queue infrastructure
  .env.example
  compose.yml
  infra/rabbitmq/definitions.json
  infra/rabbitmq/rabbitmq.conf
  libs/configs/rabbitmq/src/index.ts
  libs/configs/rabbitmq/src/lib/decorators/event-pattern.decorator.ts
  libs/configs/rabbitmq/src/lib/decorators/index.ts
  libs/configs/rabbitmq/src/lib/decorators/message-pattern.decorator.ts
  libs/configs/rabbitmq/src/lib/decorators/retry-policy.decorator.ts
  libs/configs/rabbitmq/src/lib/interfaces/exchange-config.interface.ts
  libs/configs/rabbitmq/src/lib/interfaces/index.ts
  libs/configs/rabbitmq/src/lib/interfaces/message-pattern.interface.ts
  libs/configs/rabbitmq/src/lib/interfaces/rabbitmq-options.interface.ts
  libs/configs/rabbitmq/src/lib/rabbitmq.constants.ts
  libs/configs/rabbitmq/src/lib/rabbitmq.module.ts
  libs/configs/rabbitmq/src/lib/services/exchange-manager.service.ts.tmp
  libs/configs/rabbitmq/src/lib/services/index.ts
  libs/configs/rabbitmq/src/lib/services/message-publisher.service.ts.tmp
  libs/configs/rabbitmq/src/lib/services/rabbitmq-simple.service.ts
  libs/configs/rabbitmq/src/lib/services/rabbitmq.service.ts.tmp
Due: lint, test, build, typecheck

fix(rabbitmq): resolve TypeScript and linting issues, complete module implementation
  compose.yml
  devtools/docker/.gitkeep
  devtools/infra/rabbitmq/definitions.json
  devtools/infra/rabbitmq/rabbitmq.conf
  devtools/migrations/.gitkeep
  libs/configs/rabbitmq/package.json
  libs/configs/rabbitmq/src/index.ts
  libs/configs/rabbitmq/src/lib/decorators/message-pattern.decorator.ts
  libs/configs/rabbitmq/src/lib/decorators/retry-policy.decorator.ts
  libs/configs/rabbitmq/src/lib/interfaces/exchange-config.interface.ts
  libs/configs/rabbitmq/src/lib/interfaces/rabbitmq-options.interface.ts
  libs/configs/rabbitmq/src/lib/rabbitmq.module.ts
  libs/configs/rabbitmq/src/lib/services/exchange-manager.service.ts
  libs/configs/rabbitmq/src/lib/services/index.ts
  libs/configs/rabbitmq/src/lib/services/message-publisher.service.ts
  libs/configs/rabbitmq/src/lib/services/rabbitmq.service.ts
  libs/configs/rabbitmq/src/lib/types/index.ts
  libs/configs/rabbitmq/src/lib/types/utils.ts
  libs/configs/rabbitmq/tsconfig.lib.json
  libs/configs/rabbitmq/tsconfig.tsbuildinfo
Due: lint, test, build, typecheck

fix(rabbitmq): address review feedback and enhance documentation
  CLAUDE.md
  devtools/infra/rabbitmq/definitions.json
Due: lint, test, build

feat(rabbitmq): enhance RabbitMQ architecture documentation with detailed message patterns and routing strategies
  CLAUDE.md
Due: none

refactor: clean up code formatting and improve readability across multiple files
  .gitignore
  CLAUDE.md
  apps/api-gateway/src/app/app.service.ts
  apps/api-gateway/src/main.ts
  apps/auth-service/src/main.ts
  compose.yml
  libs/configs/parameters/src/lib/schemas/api-gateway.schema.ts
  libs/configs/rabbitmq/src/index.ts
  libs/configs/rabbitmq/src/lib/decorators/event-pattern.decorator.ts
  libs/configs/rabbitmq/src/lib/decorators/index.ts
  libs/configs/rabbitmq/src/lib/decorators/message-pattern.decorator.ts
  libs/configs/rabbitmq/src/lib/decorators/retry-policy.decorator.ts
  libs/configs/rabbitmq/src/lib/interfaces/exchange-config.interface.ts
  libs/configs/rabbitmq/src/lib/interfaces/index.ts
  libs/configs/rabbitmq/src/lib/interfaces/message-pattern.interface.ts
  libs/configs/rabbitmq/src/lib/rabbitmq.constants.ts
  libs/configs/rabbitmq/src/lib/rabbitmq.module.ts
  libs/configs/rabbitmq/src/lib/services/exchange-manager.service.ts
  libs/configs/rabbitmq/src/lib/services/exchange-publisher.service.ts
  libs/configs/rabbitmq/src/lib/services/index.ts
  libs/configs/rabbitmq/src/lib/services/message-publisher.service.ts
  libs/configs/rabbitmq/src/lib/services/rabbitmq.service.ts
  libs/configs/rabbitmq/src/lib/types/index.ts
  libs/configs/rabbitmq/src/lib/types/utils.ts
  libs/shared/messaging/src/index.ts
  package-lock.json
Due: lint, test, build, typecheck

fix: remove 'type' field from package.json and update project.json with build targets for shared types and utils libraries
  libs/shared/types/package.json
  libs/shared/types/project.json
  libs/shared/types/src/index.ts
  libs/shared/types/tsconfig.lib.json
  libs/shared/utils/package.json
  libs/shared/utils/project.json
  libs/shared/utils/tsconfig.lib.json
Due: lint, test, build, typecheck

fix(rabbitmq): comment out unused database service configurations in compose.yml and add user definition in definitions.json
  compose.yml
  devtools/infra/rabbitmq/definitions.json
Due: lint, test, build

feat(rabbitmq): update health check message patterns and improve RabbitMQ service configuration
  apps/auth-service/src/app/app.controller.ts
  apps/billing-service/src/app/app.controller.ts
  apps/deploy-service/src/app/app.controller.ts
  apps/monitor-service/src/app/app.controller.ts
  devtools/infra/rabbitmq/definitions.json
  libs/configs/parameters/project.json
  libs/configs/parameters/tsconfig.lib.json
  libs/configs/rabbitmq/project.json
  libs/configs/rabbitmq/src/lib/rabbitmq.module.ts
  libs/configs/rabbitmq/src/lib/services/exchange-publisher.service.ts
  libs/configs/rabbitmq/src/lib/services/rabbitmq.service.ts
  libs/shared/messaging/project.json
  libs/shared/types/project.json
Due: lint, test, build, typecheck

feat(rabbitmq): migrate to @golevelup/nestjs-rabbitmq for declarative message handling
  CLAUDE.md
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/app.service.ts
  apps/api-gateway/tsconfig.app.json
  apps/api-gateway/tsconfig.json
  apps/auth-service/src/app/app.controller.ts
  apps/auth-service/src/app/app.module.ts
  apps/auth-service/src/main.ts
  apps/auth-service/tsconfig.app.json
  apps/auth-service/tsconfig.json
  compose.yml
  devtools/infra/rabbitmq/rabbitmq.conf
  docs/architecture/ddd-rabbitmq-migration.md
  libs/configs/rabbitmq/package.json
  libs/configs/rabbitmq/project.json
  libs/configs/rabbitmq/src/index.ts
  libs/configs/rabbitmq/src/lib/rabbitmq.module.ts
  libs/shared/messaging/project.json
  package-lock.json
  package.json
Due: lint, test, build, typecheck

Path conditions:
  lint: any of: **/*.{ts,tsx,js,jsx,json}
  test: any of: **/*.{ts,tsx,js,jsx,json}, **/*.spec.{ts,tsx,js,jsx}, **/*.test.{ts,tsx,js,jsx}
  build: any of: **/*.{ts,tsx,js,jsx,json}, **/*.config.{ts,js,json}
  typecheck: any of: **/*.{ts,tsx}, **/*.config.{ts,js,json}
