Repository danilomartinelli/usecapsule-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, build, typecheck

.gitlab-ci.yml:

image: node:20
variables:
  CI: "true"
  NX_SKIP_NX_CACHE: "false"

# Cache configuration for faster builds
cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .nx/cache/

stages:
  - setup
  - lint
  - test
  - build
  - e2e

# Setup stage - install dependencies and setup environment
setup:
  stage: setup
  interruptible: true
  only:
    - main
    - merge_requests
  script:
    - npm ci --legacy-peer-deps
    - npx playwright install --with-deps
  artifacts:
    paths:
      - node_modules/
      - .nx/cache/
    expire_in: 1 hour

# Lint stage - validate code quality and module boundaries
lint:
  stage: lint
  interruptible: true
  only:
    - main
    - merge_requests
  dependencies:
    - setup
  script:
    - npx nx affected --target=lint --base=origin/main --head=HEAD
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "**/*.{ts,tsx,js,jsx,json}"
    - if: $CI_COMMIT_BRANCH == "main"

# Test stage - run unit tests
test:
  stage: test
  interruptible: true
  only:
    - main
    - merge_requests
  dependencies:
    - setup
  script:
    - npx nx affected --target=test --base=origin/main --head=HEAD
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "**/*.{ts,tsx,js,jsx,json}"
        - "**/*.spec.{ts,tsx,js,jsx}"
        - "**/*.test.{ts,tsx,js,jsx}"
    - if: $CI_COMMIT_BRANCH == "main"

# Build stage - compile projects
build:
  stage: build
  interruptible: true
  only:
    - main
    - merge_requests
  dependencies:
    - setup
  script:
    - npx nx affected --target=build --base=origin/main --head=HEAD
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "**/*.{ts,tsx,js,jsx,json}"
        - "**/*.config.{ts,js,json}"
    - if: $CI_COMMIT_BRANCH == "main"

# Typecheck stage - validate TypeScript types
typecheck:
  stage: build
  interruptible: true
  only:
    - main
    - merge_requests
  dependencies:
    - setup
  script:
    - npx nx affected --target=typecheck --base=origin/main --head=HEAD
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "**/*.{ts,tsx}"
        - "**/*.config.{ts,js,json}"
    - if: $CI_COMMIT_BRANCH == "main"

# E2E stage - run end-to-end tests (only on main branch)
e2e:
  stage: e2e
  interruptible: true
  only:
    - main
  dependencies:
    - setup
    - build
  script:
    - npx nx affected --target=e2e --base=origin/main --head=HEAD
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual
      allow_failure: true

# Fallback job for when no affected projects are found
no-affected-projects:
  stage: lint
  interruptible: true
  only:
    - main
    - merge_requests
  dependencies:
    - setup
  script:
    - echo "No affected projects found. Skipping CI tasks."
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
      allow_failure: true

feat: add comprehensive dependency upgrade strategy and tools
  dependency-monitor-2025-09-12T11-34-58-048Z.json
  dependency-monitor-2025-09-12T11-35-23-283Z.json
  dependency-monitor-2025-09-12T11-35-53-376Z.json
  dependency-monitor-2025-09-12T11-36-11-277Z.json
  dependency-monitor-2025-09-12T11-36-36-053Z.json
  dependency-monitor-latest.json
  dependency-report-2025-09-12T11-36-36-053Z.md
  dependency-report-latest.md
  docs/dependency-upgrade-playbook.md
  docs/dependency-upgrade-strategy.md
  docs/migrations/webpack-cli-v5-to-v6-migration.md
  docs/migrations/zod-v3-to-v4-migration.md
  scripts/dependency-monitor.js
  scripts/rollback-dependencies.sh
  scripts/test-upgrade-compatibility.js
  scripts/upgrade-dependencies.sh
Due: lint, test, build

chore: sync Nx TypeScript configuration after dependency updates
  libs/configs/rabbitmq/tsconfig.json
  libs/configs/rabbitmq/tsconfig.lib.json
  package-lock.json
Due: lint, test, build

chore: Phase 2 dependency updates - minor versions
  package-lock.json
  package.json
Due: lint, test, build

chore: Phase 3 dependency updates - major version upgrades
  UPGRADE_PHASE_3_PLAN.md
  dependency-monitor-2025-09-12T11-40-07-699Z.json
  dependency-monitor-2025-09-12T11-40-50-083Z.json
  dependency-report-2025-09-12T11-40-07-699Z.md
  dependency-report-2025-09-12T11-40-50-083Z.md
  libs/configs/database/package.json
  libs/configs/parameters/package.json
  package-lock.json
  package.json
  upgrade-test-report-1757677172170.md
  upgrade-test-report-1757677198845.md
  upgrade-test-report-1757677690932.md
  upgrade-test-report-1757677757483.md
  upgrade-test-results-1757677172169.json
  upgrade-test-results-1757677198844.json
  upgrade-test-results-1757677690931.json
  upgrade-test-results-1757677757483.json
Due: lint, test, build

chore: clean up dependency upgrade temporary files
  UPGRADE_PHASE_3_PLAN.md
  dependency-monitor-2025-09-12T11-34-58-048Z.json
  dependency-monitor-2025-09-12T11-35-23-283Z.json
  dependency-monitor-2025-09-12T11-35-53-376Z.json
  dependency-monitor-2025-09-12T11-36-11-277Z.json
  dependency-monitor-2025-09-12T11-36-36-053Z.json
  dependency-monitor-2025-09-12T11-40-07-699Z.json
  dependency-monitor-2025-09-12T11-40-50-083Z.json
  dependency-monitor-latest.json
  dependency-report-2025-09-12T11-36-36-053Z.md
  dependency-report-2025-09-12T11-40-07-699Z.md
  dependency-report-2025-09-12T11-40-50-083Z.md
  dependency-report-latest.md
  docs/dependency-upgrade-playbook.md
  docs/dependency-upgrade-strategy.md
  docs/migrations/webpack-cli-v5-to-v6-migration.md
  docs/migrations/zod-v3-to-v4-migration.md
  scripts/dependency-monitor.js
  scripts/rollback-dependencies.sh
  scripts/test-upgrade-compatibility.js
  scripts/upgrade-dependencies.sh
  upgrade-test-report-1757677172170.md
  upgrade-test-report-1757677198845.md
  upgrade-test-report-1757677690932.md
  upgrade-test-report-1757677757483.md
  upgrade-test-results-1757677172169.json
  upgrade-test-results-1757677198844.json
  upgrade-test-results-1757677690931.json
  upgrade-test-results-1757677757483.json
Due: lint, test, build

fix: resolve lint warnings and TypeScript compilation issues
  apps/billing-service/src/app/app.controller.ts
  apps/billing-service/src/main.ts
  apps/deploy-service/src/app/app.controller.ts
  apps/deploy-service/src/main.ts
  apps/monitor-service/src/app/app.controller.ts
  apps/monitor-service/src/main.ts
  libs/configs/database/package.json
  libs/configs/rabbitmq/src/index.ts
  package-lock.json
Due: lint, test, build, typecheck

docs: add comprehensive technical documentation and architecture guides
  PR_DESCRIPTION.md
  README.md
  docs/README.md
  docs/api/health-checks.md
  docs/architecture/system-overview.md
  docs/examples/message-handlers.md
  docs/guides/rabbitmq-implementation.md
  docs/troubleshooting/common-issues.md
Due: none

docs: add link to comprehensive docs/ folder in README.md
  README.md
Due: none

fix: handle empty outdated dependencies in audit workflow
  .github/workflows/dependency-audit.yml
  .taskmaster/docs/PRD.txt
Due: none

fix(tests): resolve Jest and dependency injection issues across test suite
  TESTING.md
  apps/auth-service/src/app/app.controller.spec.ts
  apps/billing-service/src/app/app.controller.spec.ts
  apps/deploy-service/src/app/app.controller.spec.ts
  apps/monitor-service/src/app/app.controller.spec.ts
  jest.preset.js
  libs/shared/testing/jest.config.ts
  libs/shared/testing/src/index.ts
  libs/shared/testing/src/lib/matchers/health-response.matcher.ts
  libs/shared/testing/src/lib/rabbitmq/rabbitmq-test-client.ts
  libs/shared/testing/tsconfig.json
  libs/shared/testing/tsconfig.lib.json
  test/setup-jest-matchers.ts
  tsconfig.json
Due: lint, test, build, typecheck

fix: resolve critical CI/CD pipeline issues and improve workflow reliability
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/performance.yml
  .github/workflows/test.yml
  jest.preset.js
Due: lint, test, build

fix: update opossum to v9.0.0 and resolve all TypeScript warnings
  .github/instructions/nx.instructions.md
  libs/configs/rabbitmq/src/lib/circuit-breaker-aware-amqp.service.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker-enhanced-health.controller.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker-health.service.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker-metrics.service.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker.config.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker.service.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker.types.ts
  libs/configs/rabbitmq/src/lib/timeout-aware-amqp.service.ts
  libs/shared/testing/src/index.ts
  libs/shared/testing/src/lib/fixtures/http-fixtures.ts
  libs/shared/testing/src/lib/fixtures/message-fixtures.ts
  libs/shared/testing/src/lib/health/health-test-helpers.ts
  libs/shared/testing/src/lib/matchers/health-response.matcher.ts
  libs/shared/testing/src/lib/nestjs/testing-module-builder.ts
  libs/shared/testing/src/lib/rabbitmq/amqp-connection-mock.ts
  libs/shared/testing/src/lib/rabbitmq/rabbitmq-test-client.ts
  libs/shared/testing/tsconfig.lib.json
  package-lock.json
  package.json
Due: lint, test, build, typecheck

chore: update Jest configuration across services and add reflection metadata setup
  apps/api-gateway/jest.config.ts
  apps/auth-service/jest.config.ts
  apps/auth-service/test/rabbitmq-health.integration.spec.ts
  apps/billing-service/jest.config.ts
  apps/deploy-service/jest.config.ts
  apps/monitor-service/jest.config.ts
  jest.preset.js
  libs/configs/rabbitmq/src/lib/rabbitmq.module.ts
Due: lint, test, build, typecheck

refactor: clean up type imports and improve code readability in circuit breaker services
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker-enhanced-health.controller.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker-health.service.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker-metrics.service.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker.config.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker.service.ts
  libs/shared/testing/src/lib/matchers/health-response.matcher.ts
Due: lint, test, build, typecheck

fix: enhance health check error matching and update circuit breaker function call
  apps/api-gateway/test/health.integration.spec.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker.service.ts
Due: lint, test, build, typecheck

fix(tests): resolve Jest configuration and opossum v9 compatibility issues
  apps/api-gateway/test/health.integration.spec.ts
  apps/api-gateway/test/setup.ts
  apps/api-gateway/tsconfig.app.json
  apps/api-gateway/tsconfig.json
  apps/auth-service/test/setup.ts
  apps/auth-service/tsconfig.app.json
  apps/auth-service/tsconfig.json
  apps/billing-service/test/setup.ts
  apps/billing-service/tsconfig.app.json
  apps/billing-service/tsconfig.json
  apps/deploy-service/test/setup.ts
  apps/deploy-service/tsconfig.app.json
  apps/deploy-service/tsconfig.json
  apps/monitor-service/test/setup.ts
  apps/monitor-service/tsconfig.app.json
  apps/monitor-service/tsconfig.json
  libs/shared/testing/package.json
  libs/shared/testing/src/index.ts
  libs/shared/testing/src/lib/matchers/health-response.matcher.ts
  libs/shared/testing/src/lib/setup/jest-matchers.ts
  test/setup-jest-matchers.ts
  tsconfig.base.json
  types/jest-matchers.d.ts
Due: lint, test, build, typecheck

fix(lint): resolve linting issues and clean up code
  apps/api-gateway/test/health.integration.spec.ts
  apps/auth-service/test/rabbitmq-health.integration.spec.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker.service.ts
  libs/shared/testing/src/lib/matchers/health-response.matcher.ts
  libs/shared/testing/src/lib/setup/jest-matchers.ts
  tsconfig.base.json
  types/jest-matchers.d.ts
Due: lint, test, build, typecheck

fix(ci): resolve failing tests and lint warnings
  libs/shared/testing/jest.config.ts
Due: lint, test, build, typecheck

fix(testing): configure Jest to pass with no tests using nx project config
  libs/shared/testing/jest.config.ts
  libs/shared/testing/project.json
Due: lint, test, build, typecheck

fix(jest): resolve UUID module mapping issues in service test configurations
  apps/billing-service/jest.config.ts
  apps/deploy-service/jest.config.ts
  apps/monitor-service/jest.config.ts
  jest.preset.js
Due: lint, test, build, typecheck

fix(tests): resolve API Gateway AppService dependency injection issues
  apps/api-gateway/src/app/app.service.spec.ts
Due: lint, test, build, typecheck

fix(lint): resolve all TypeScript lint warnings across codebase
  apps/api-gateway/src/app/app.service.ts
  apps/auth-service/src/app/app.controller.spec.ts
  apps/auth-service/src/app/app.service.spec.ts
  apps/auth-service/test/rabbitmq-health.integration.spec.ts
  apps/billing-service/src/app/app.controller.spec.ts
  apps/billing-service/src/app/app.service.spec.ts
  apps/deploy-service/src/app/app.controller.spec.ts
  apps/deploy-service/src/app/app.service.spec.ts
  apps/monitor-service/src/app/app.controller.spec.ts
  apps/monitor-service/src/app/app.service.spec.ts
  libs/configs/rabbitmq/src/lib/circuit-breaker/circuit-breaker.service.ts
Due: lint, test, build, typecheck

fix(cache): force cache refresh by adding comment to test file
  apps/api-gateway/src/app/app.service.spec.ts
Due: lint, test, build, typecheck

fix: disable remote caching for lint target to resolve cache staleness
  nx.json
Due: lint, test, build

fix: add JWT_SECRET validation for API Gateway tests
  apps/api-gateway/test/setup.ts
Due: lint, test, build, typecheck

fix: resolve TypeScript compilation and project reference issues
  libs/shared/testing/tsconfig.spec.json
  libs/shared/types/tsconfig.lib.json
Due: lint, test, build

fix(typescript): resolve compilation errors in testing library
  libs/shared/messaging/project.json
  libs/shared/types/project.json
Due: lint, test, build

fix: update output directory in tsconfig for shared types library
  libs/shared/types/tsconfig.lib.json
Due: lint, test, build

feat(health): enhance health check response with additional metadata and reason fields
  apps/api-gateway/src/app/app.service.ts
  libs/configs/parameters/tsconfig.tsbuildinfo
  libs/configs/rabbitmq/project.json
  libs/configs/rabbitmq/tsconfig.lib.json
  libs/shared/types/src/lib/types.ts
  tsconfig.tsbuildinfo
Due: lint, test, build, typecheck

Refactor database migration setup and configuration for services
  .gitignore
  apps/auth-service/database/flyway.conf
  apps/auth-service/database/migrations/V1.0.0__Initial_setup.sql
  apps/billing-service/database/flyway.conf
  apps/billing-service/database/migrations/V1.0.0__Initial_setup.sql
  apps/deploy-service/database/flyway.conf
  apps/deploy-service/database/migrations/V1.0.0__Initial_setup.sql
  apps/monitor-service/database/flyway.conf
  apps/monitor-service/database/migrations/V1.0.0__Initial_setup.sql
  compose.yml
  devtools/infra/postgres/init-scripts/01-create-extensions.sql
  package.json
Due: lint, test, build

Add initial TASKS.md file with comprehensive project task list and subtasks
  .taskmaster/config.json
  .taskmaster/reports/task-complexity-report.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  TASKS.md
Due: lint, test, build
